:root {
    --color-primary-1: rgb(234, 247, 255);
    --color-primary-2: #3477db;
    --color-primary-3: #81c3d7;
    --color-primary-4: #16425b;
    --color-primary-5: #3a7ca5;
    --color-primary-6: #020202;
    --color-primary-7: #e7f3ff;
    --color-primary-8: #3f9fdb;
    --color-primary-9: #4985aa;
}    
body {
    background-color: var(--color-primary-3);
}

label {
    font-weight: bold;
    background-color: var(--color-primary-5); 
    color: black;           
    padding: 2px;           
    border-radius: 8px;     
  }
h1 {
    font-weight: bold;
    background-color: var(--color-primary-5); 
    color: black;           
    padding: 2px;           
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;          
}

.produto {
    background-color: var(--color-primary-3);
    color: var(--color-primary-6);
    font-family: Arial;
}
.produto-btn {
    text-decoration: none;
}
#productForm label{
    color:var(--color-primary-1);
    background-color: transparent;
    font-family: Arial;
    display: flex;
    position: relative;
    justify-self: center;
    padding-top: 30px;

}
#button{
    justify-self: center;
    justify-content: center;
    padding-bottom: 50px;
}
#productForm{
    width: 500px;
    display: grid;
    justify-self: center;
    justify-content: center;    
    background-color: var(--color-primary-5);
    border-radius: 20% 20% 20% 20%;
    box-shadow:#020202;
    box-shadow: 10px 10px 40px var(--color-primary-4);
}
.input{
    height: 25px;
    border-radius: 20px 20px 20px 20px;
    border-style: hidden;
    box-shadow: 5px 5px 35px var(--color-primary-5);
}
.button{
    background-color: var(--color-primary-4);  /* Cor de fundo */
    color: white;               /* Cor do texto */
    padding: 10px 20px;         /* Espaçamento interno (topo e lateral) */
    border: none;               /* Remove a borda padrão */
    border-radius: 8px;     
    font-family: Arial;    /* Bordas arredondadas */
    font-size: 20px;            /* Tamanho da fonte */
    cursor: pointer;           /* Mostra o cursor de ponteiro quando o botão é hover */
    transition: background-color 0.3s, transform 0.3s;
}
.imgUpload {  
    cursor: pointer;           
    display: inline-block;      
    
}