:root {
    --color-primary-1: rgb(234, 247, 255);
    --color-primary-2: #3477db;
    --color-primary-3: #81c3d7;
    --color-primary-4: #16425b;
    --color-primary-5: #3a7ca5;
    --color-primary-6: #020202;
    --color-primary-7: #e7f3ff;
    --color-primary-8: #3f9fdb;
    --color-primary-9: #4985aa;
}    
body {
    background-color: var(--color-primary-4);
}

label {
    font-weight: bold;
    background-color: var(--color-primary-5); 
    color: black;           
    padding: 2px;           
    border-radius: 8px;     
  }
h1 {
    font-weight: bold;
    background-color: var(--color-primary-5); 
    color: black;           
    padding: 2px;           
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;          
}

.produto {
    background-color: var(--color-primary-3);
    color: var(--color-primary-6);
    font-family: Arial;
}
.produto-btn {
    text-decoration: none;
}