/* Estilos do Header */
header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-4);
    z-index: 3;
}

/* Configuração geral da navbar */
#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilo do logo no lado esquerdo */
#nav_logo {
    font-size: 24px;
    color: var(--color-neutral-0);
    font-weight: bold;
}
#nav_logo img{
    width: 50px;
    height: 50px;
}

/* Centraliza a lista de navegação */
#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
    justify-content: center;
    flex: 1;
}

/* Estilos dos links da lista */
.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active a {
    color: var(--color-neutral-0);
    border-bottom: 3px solid var(--color-primary-3);
}

/* Alinha o botão de orçamento e o ícone de usuário à direita */
.nav-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

/* Estilo do botão de orçamento */
#orcamento .btn-default {
    background-color: #007bff; /* Ajuste a cor conforme necessário */
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#orcamento a {
    color: inherit;
    text-decoration: none;
}

.usuario {
    display: flex;
}

.usuario a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--color-primary-5);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-neutral-0);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

/* Esconde o botão de menu em telas grandes */
#mobile_btn {
    display: none;
}

/* Estilos para telas menores */
@media screen and (max-width: 1170px) {
    #nav_list,
    #orcamento, .usuario a{
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        color: var(--color-neutral-0);
        background-color: var(--color-primary-4);
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    } 
}
